In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.compose import ColumnTransformer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [7]:
# Data loading and observing

dataset = pd.read_csv('life_expectancy.csv')

dataset.head()

       Country  Year  ... Schooling  Life expectancy
0  Afghanistan  2015  ...      10.1             65.0
1  Afghanistan  2014  ...      10.0             59.9
2  Afghanistan  2013  ...       9.9             59.9
3  Afghanistan  2012  ...       9.8             59.5
4  Afghanistan  2011  ...       9.5             59.2

[5 rows x 22 columns]

In [8]:
# summary statistics of the data
dataset.describe()

              Year  Adult Mortality  ...    Schooling  Life expectancy
count  2938.000000      2938.000000  ...  2938.000000      2938.000000
mean   2007.518720       164.725664  ...    12.009837        69.234717
std       4.613841       124.086215  ...     3.265139         9.509115
min    2000.000000         1.000000  ...     0.000000        36.300000
25%    2004.000000        74.000000  ...    10.300000        63.200000
50%    2008.000000       144.000000  ...    12.300000        72.100000
75%    2012.000000       227.000000  ...    14.100000        75.600000
max    2015.000000       723.000000  ...    20.700000        89.000000

[8 rows x 20 columns]

In [9]:
# print(dataset.columns)

dataset = dataset.drop(['Country'], axis=1) # dropping the country column 
print(dataset.columns)

Index(['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',
       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Life expectancy'],
      dtype='object')

In [10]:
# split dataset into labels and features

labels = dataset.iloc[:, -1]
features = dataset.iloc[:, 0:-1]

# Data Preprocessing

In [11]:
features = pd.get_dummies(features) # applying one-hot-encoding on all the categorical columns


# Splitting the data into training set and test sets
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=0.2, random_state=10)

In [12]:
# Standardizing or normalizing the numerical features

numerical_features = features.select_dtypes(include=['float64', 'int64'])
numerical_columns = numerical_features.columns
 
ct = ColumnTransformer([("only numeric", StandardScaler(), numerical_columns)], remainder='passthrough')
features_train_scaled = ct.fit_transform(features_train)
features_test_scaled = ct.transform(features_test)

# Building the Model

In [15]:

my_model = Sequential()

input = InputLayer(input_shape = (features.shape[1], )) 
my_model.add(input) # add input layer to model

my_model.add(Dense(64, activation = "relu")) # create and add hidden layer 

my_model.add(Dense(1)) # add output layer with one neuron

print(my_model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                1408
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 1,473
Trainable params: 1,473
Non-trainable params: 0
_________________________________________________________________
None

# Initializing the optimizer and compiling the model

In [16]:
opt = Adam(learning_rate = 0.01) # initializes an Adam optimizer

my_model.compile(loss='mse',  metrics=['mae'], optimizer=opt)

# Fit and evaluate the model

In [17]:
my_model.fit(features_train_scaled, labels_train, epochs = 40, batch_size = 1, verbose = 1) # fitting the model

res_mse, res_mae = my_model.evaluate(features_test_scaled, labels_test, verbose = 0) # evaluating the model

Epoch 1/40
2350/2350 [==============================] - 4s 1ms/step - loss: 155.9317 - mae: 6.6535
Epoch 2/40
2350/2350 [==============================] - 3s 1ms/step - loss: 25.8206 - mae: 3.7663
Epoch 3/40
2350/2350 [==============================] - 3s 1ms/step - loss: 26.4332 - mae: 3.7024
Epoch 4/40
2350/2350 [==============================] - 3s 1ms/step - loss: 18.8056 - mae: 3.2368
Epoch 5/40
2350/2350 [==============================] - 3s 1ms/step - loss: 18.4023 - mae: 3.1480
Epoch 6/40
2350/2350 [==============================] - 3s 1ms/step - loss: 23.3817 - mae: 3.1151
Epoch 7/40
2350/2350 [==============================] - 3s 1ms/step - loss: 15.1132 - mae: 2.8220
Epoch 8/40
2350/2350 [==============================] - 3s 1ms/step - loss: 17.0976 - mae: 2.9654
Epoch 9/40
2350/2350 [==============================] - 3s 1ms/step - loss: 14.4166 - mae: 2.7646
Epoch 10/40
2350/2350 [==============================] - 3s 1ms/step - loss: 12.6063 - mae: 2.6744
Epoch 11/40
2350/2350 [==============================] - 3s 1ms/step - loss: 12.8556 - mae: 2.6220
Epoch 12/40
2350/2350 [==============================] - 3s 1ms/step - loss: 14.5128 - mae: 2.6857
Epoch 13/40
2350/2350 [==============================] - 3s 1ms/step - loss: 13.2512 - mae: 2.5888
Epoch 14/40
2350/2350 [==============================] - 3s 1ms/step - loss: 12.0475 - mae: 2.5064
Epoch 15/40
2350/2350 [==============================] - 3s 1ms/step - loss: 11.5665 - mae: 2.5431
Epoch 16/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.2906 - mae: 2.3950
Epoch 17/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.8173 - mae: 2.3839
Epoch 18/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.0225 - mae: 2.3619
Epoch 19/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.0175 - mae: 2.3595
Epoch 20/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.0565 - mae: 2.2805
Epoch 21/40
2350/2350 [==============================] - 3s 1ms/step - loss: 10.6523 - mae: 2.3501
Epoch 22/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.9343 - mae: 2.2512
Epoch 23/40
2350/2350 [==============================] - 3s 1ms/step - loss: 9.4039 - mae: 2.2322
Epoch 24/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.4117 - mae: 2.1829
Epoch 25/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.5511 - mae: 2.1624
Epoch 26/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.8928 - mae: 2.1984
Epoch 27/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.0441 - mae: 2.1336
Epoch 28/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.2272 - mae: 2.1353
Epoch 29/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.1262 - mae: 2.0845
Epoch 30/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.0080 - mae: 2.0890
Epoch 31/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.6511 - mae: 2.0574
Epoch 32/40
2350/2350 [==============================] - 3s 1ms/step - loss: 8.4127 - mae: 2.0801
Epoch 33/40
2350/2350 [==============================] - 3s 1ms/step - loss: 6.9575 - mae: 1.9570
Epoch 34/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.1776 - mae: 1.9961
Epoch 35/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.6179 - mae: 2.0002
Epoch 36/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.1459 - mae: 1.9850
Epoch 37/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.3565 - mae: 1.9987
Epoch 38/40
2350/2350 [==============================] - 3s 1ms/step - loss: 6.7155 - mae: 1.9293
Epoch 39/40
2350/2350 [==============================] - 3s 1ms/step - loss: 7.9811 - mae: 2.0208
Epoch 40/40
2350/2350 [==============================] - 3s 1ms/step - loss: 6.8065 - mae: 1.9261

In [19]:
print("RMSE =", res_mse) # printing the root mean squared error 

print("MAE =", res_mae) # print the mean absolute error

RMSE = 7.222873210906982
MAE = 1.9496991634368896